<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">
    
    <!-- 查询登陆信息 -->
    <select id="queryUserForLogin" parameterType="Map" resultType="hashmap">
        select userid, username, password, DEPTID
  		  from eauser 
  		 where enabled="1" and LOCKED="0"
  		 <if test="account != null">
  		     and account = #{account}
  		 </if>
    </select>

    <!-- 插入一条部门记录 -->
    <insert id="saveDeptItem" parameterType="Map" flushCache="true" 
             useGeneratedKeys="true" keyProperty="deptid">
        insert into EADEPT(cascadeid, deptname, parentid, sortno, enabled, leaf)
         values(#{cascadeid, jdbcType=VARCHAR}, #{deptname, jdbcType=VARCHAR}, #{parentid, jdbcType=INTEGER}, #{sortno, jdbcType=INTEGER},
         #{enabled, jdbcType=VARCHAR}, #{leaf, jdbcType=VARCHAR})
    </insert>
    
    <!-- 根据条件查询部门 -->
    <select id="queryDeptidByParam" parameterType="Map" resultType="HashMap">
        select deptid, cascadeid from EADEPT where enabled="1"
            <if test = "deptname != null and deptid !=''">
                and DEPTNAME=#{deptname, jdbcType=VARCHAR}
            </if>
             <if test = "level != null">
               	and char_length(cascadeid)=#{level, jdbcType=INTEGER}
            </if> 
            <if test = "cascadeid != null and cascadeid != 'null%'">
               	and cascadeid like #{cascadeid, jdbcType=VARCHAR}
            </if>  
            <if test = "parentid != null and parentid != ''">
               	and parentid = #{parentid, jdbcType=INTEGER}
            </if>            
    </select>
    
    <!-- 取最大号 -->
    <select id="getMaxSubDeptId" parameterType="java.lang.String" resultType="java.lang.String">
        select max(deptid) as deptid from eadept where PARENTID = #{deptid, jdbcType=VARCHAR}
    </select>
    
    <!-- 获取最大部门子节点编号: 对应新部门架构的方法-->
	<select id="getMaxSubDeptIdNew" parameterType="Map" resultType="java.lang.String">
		SELECT MAX(cascadeid)
		  FROM eadept
		 WHERE parentid = #{parentid, jdbcType=INTEGER} 
		   and cascadeid like #{cascadeid, jdbcType=VARCHAR}
	</select>
	
    <!-- 根据deptid查询cascadeid -->
	<select id="queryCascadeidByDeptid" parameterType="java.lang.Long" resultType="java.lang.String">
		select cascadeid from eadept where deptid = #{deptid, jdbcType=INTEGER} 
	</select>
	
	<!-- 根据cascadeid查询deptid -->
	<select id="queryDetpidByCascadeid" parameterType="java.lang.String" resultType="java.lang.Long">
		select deptid from eadept where cascadeid = #{cascadeid, jdbcType=VARCHAR} 
	</select>
</mapper>
