<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    
    <!-- 查询登陆信息 -->
    <select id="queryUserForLogin" parameterType="Map" resultType="hashmap">
        select userid, username, password, DEPTID
  		  from eauser 
  		 where enabled="1" and LOCKED="0"
  		 <if test="account != null">
  		     and account = #{account}
  		 </if>
    </select>
    
    <!-- 插入人员表数据 employee -->
    <insert id="saveEmployeeItem" parameterType="Map" flushCache="true">
        insert into Employee (EMPID, CODE, NAME, SEX, IDCARD, 
        	<if test = "card != null or card != ''">
        	    CARD,
        	</if>
        	BIRTHDAY, HIREDATE, REMARK)
          values(#{empid, jdbcType=BIGINT}, #{code, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{sex, jdbcType=VARCHAR},
          #{idcard, jdbcType=VARCHAR}, 
        	<if test = "card != null or card != ''">
        	    #{card, jdbcType=VARCHAR},
        	</if>          
          #{birthday, jdbcType=BIGINT}, #{hiredate, jdbcType=BIGINT},  #{remark, jdbcType=VARCHAR})
    </insert>
    
    <!-- 更新人员信息 -->
    <update id="updateEmployeeItem" parameterType="Map" flushCache="true">
        update Employee
        <set>
            <if test="card != null">
                card = #{card, jdbcType=VARCHAR},
            </if>
            <if test="dqzt != null">
                dqzt = #{dqzt, jdbcType=VARCHAR},
            </if>
            <if test="code != null and code != ''">
                code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name, jdbcType=VARCHAR},
            </if>
        </set>
        where empid = #{empid, jdbcType=BIGINT}
    </update>
    
    <!-- 插入部门人员表 -->
    <insert id="saveDeptemplItem" parameterType="Map" flushCache="true">
        insert into DEPTEMPL (EMPID, DEPTID, DEPTNAME, ZBZWID, JOBNAME) 
          values (#{empid, jdbcType=BIGINT}, #{deptid, jdbcType=VARCHAR}, #{deptname, jdbcType=VARCHAR},
           #{zbzwid, jdbcType=INTEGER}, #{jobname, jdbcType=VARCHAR}) 
    </insert>
    
    <!-- 更新部门人员表 -->
    <update id="updateDeptemplItem" parameterType="Map" flushCache="true">
        update DEPTEMPL
        <set>
            <if test="empid != null">
                empid = #{empid, jdbcType=BIGINT},
            </if>
            <if test="deptid != null and deptid != ''">
                deptid = #{deptid, jdbcType=VARCHAR},
            </if>
            <if test="deptname != null and deptname != ''">
                deptname = #{deptname, jdbcType=VARCHAR},
            </if>
            <if test="zbzwid != null">
                zbzwid = #{zbzwid, jdbcType=INTEGER},
            </if>
            <if test="jobname != null and jobname != ''">
                jobname = #{jobname, jdbcType=VARCHAR},
            </if>
        </set>
        where empid = #{empid, jdbcType=BIGINT} and deptid = #{deptid, jdbcType=VARCHAR} 
    </update>
   
    <!-- 检查重复记录 -->
    <select id="checkEmpExists" parameterType="Map" resultType="INTEGER">
        select count(*) as count from employee where EMPID = #{empid, jdbcType=BIGINT}
    </select>
    
    <!-- 查找对应总部职务ID -->
    <select id="queryZbzwid" parameterType="java.lang.String" resultType="INTEGER">
    	select ZWID from ZBZW where ZWMC = #{zwname, jdbcType=VARCHAR}
    </select>
    
    <!-- 临时添加 -->
    <select id="queryEnabledZero" resultType="org.infotechdept.hr.task.model.Deptempl">
    	select b.* 
		  from employee a, deptempl b, eadept c
		 where a.empid=b.empid and b.deptid=c.deptid and c.ENABLED='0'
    </select>
</mapper>
