<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.infotechdept.hr.task.dao.AdcDinnerRoomUnitMapper" >
  <resultMap id="BaseResultMap" type="org.infotechdept.hr.task.model.AdcDinnerRoomUnit" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ROOM_ID" property="roomId" jdbcType="VARCHAR" />
    <result column="DEPTID" property="deptid" jdbcType="BIGINT" />
    <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="EMPID" property="empid" jdbcType="BIGINT" />
    <result column="UNIT_TYPE" property="unitType" jdbcType="VARCHAR" />
    <result column="VALID_START_DATE" property="validStartDate" jdbcType="TIMESTAMP" />
    <result column="VALID_END_DATE" property="validEndDate" jdbcType="TIMESTAMP" />
    <result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ROOM_ID, DEPTID, GROUP_ID, EMPID, UNIT_TYPE, VALID_START_DATE, VALID_END_DATE, 
    OPERATE_TIME, OPERATOR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomUnitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adc_dinner_room_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from adc_dinner_room_unit
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from adc_dinner_room_unit
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomUnitExample" >
    delete from adc_dinner_room_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomUnit" >
    insert into adc_dinner_room_unit (ID, ROOM_ID, DEPTID, 
      GROUP_ID, EMPID, UNIT_TYPE, 
      VALID_START_DATE, VALID_END_DATE, OPERATE_TIME, 
      OPERATOR)
    values (#{id,jdbcType=BIGINT}, #{roomId,jdbcType=VARCHAR}, #{deptid,jdbcType=BIGINT}, 
      #{groupId,jdbcType=VARCHAR}, #{empid,jdbcType=BIGINT}, #{unitType,jdbcType=VARCHAR}, 
      #{validStartDate,jdbcType=TIMESTAMP}, #{validEndDate,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomUnit" >
    insert into adc_dinner_room_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roomId != null" >
        ROOM_ID,
      </if>
      <if test="deptid != null" >
        DEPTID,
      </if>
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="empid != null" >
        EMPID,
      </if>
      <if test="unitType != null" >
        UNIT_TYPE,
      </if>
      <if test="validStartDate != null" >
        VALID_START_DATE,
      </if>
      <if test="validEndDate != null" >
        VALID_END_DATE,
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        #{empid,jdbcType=BIGINT},
      </if>
      <if test="unitType != null" >
        #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="validStartDate != null" >
        #{validStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndDate != null" >
        #{validEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomUnitExample" resultType="java.lang.Integer" >
    select count(*) from adc_dinner_room_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update adc_dinner_room_unit
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.roomId != null" >
        ROOM_ID = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptid != null" >
        DEPTID = #{record.deptid,jdbcType=BIGINT},
      </if>
      <if test="record.groupId != null" >
        GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.empid != null" >
        EMPID = #{record.empid,jdbcType=BIGINT},
      </if>
      <if test="record.unitType != null" >
        UNIT_TYPE = #{record.unitType,jdbcType=VARCHAR},
      </if>
      <if test="record.validStartDate != null" >
        VALID_START_DATE = #{record.validStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validEndDate != null" >
        VALID_END_DATE = #{record.validEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operateTime != null" >
        OPERATE_TIME = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update adc_dinner_room_unit
    set ID = #{record.id,jdbcType=BIGINT},
      ROOM_ID = #{record.roomId,jdbcType=VARCHAR},
      DEPTID = #{record.deptid,jdbcType=BIGINT},
      GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
      EMPID = #{record.empid,jdbcType=BIGINT},
      UNIT_TYPE = #{record.unitType,jdbcType=VARCHAR},
      VALID_START_DATE = #{record.validStartDate,jdbcType=TIMESTAMP},
      VALID_END_DATE = #{record.validEndDate,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{record.operateTime,jdbcType=TIMESTAMP},
      OPERATOR = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomUnit" >
    update adc_dinner_room_unit
    <set >
      <if test="roomId != null" >
        ROOM_ID = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        DEPTID = #{deptid,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        GROUP_ID = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        EMPID = #{empid,jdbcType=BIGINT},
      </if>
      <if test="unitType != null" >
        UNIT_TYPE = #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="validStartDate != null" >
        VALID_START_DATE = #{validStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndDate != null" >
        VALID_END_DATE = #{validEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomUnit" >
    update adc_dinner_room_unit
    set ROOM_ID = #{roomId,jdbcType=VARCHAR},
      DEPTID = #{deptid,jdbcType=BIGINT},
      GROUP_ID = #{groupId,jdbcType=VARCHAR},
      EMPID = #{empid,jdbcType=BIGINT},
      UNIT_TYPE = #{unitType,jdbcType=VARCHAR},
      VALID_START_DATE = #{validStartDate,jdbcType=TIMESTAMP},
      VALID_END_DATE = #{validEndDate,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      OPERATOR = #{operator,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>