<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.infotechdept.hr.task.dao.AdcDinnerRoomMapper" >
  <resultMap id="BaseResultMap" type="org.infotechdept.hr.task.model.AdcDinnerRoom" >
    <id column="ROOM_ID" property="roomId" jdbcType="VARCHAR" />
    <result column="ROOM_NAME" property="roomName" jdbcType="VARCHAR" />
    <result column="DEPTID" property="deptid" jdbcType="BIGINT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ROOM_ID, ROOM_NAME, DEPTID, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adc_dinner_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from adc_dinner_room
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from adc_dinner_room
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomExample" >
    delete from adc_dinner_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoom" >
    insert into adc_dinner_room (ROOM_ID, ROOM_NAME, DEPTID, 
      REMARK)
    values (#{roomId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, #{deptid,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoom" >
    insert into adc_dinner_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        ROOM_ID,
      </if>
      <if test="roomName != null" >
        ROOM_NAME,
      </if>
      <if test="deptid != null" >
        DEPTID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoomExample" resultType="java.lang.Integer" >
    select count(*) from adc_dinner_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update adc_dinner_room
    <set >
      <if test="record.roomId != null" >
        ROOM_ID = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.roomName != null" >
        ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptid != null" >
        DEPTID = #{record.deptid,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update adc_dinner_room
    set ROOM_ID = #{record.roomId,jdbcType=VARCHAR},
      ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      DEPTID = #{record.deptid,jdbcType=BIGINT},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoom" >
    update adc_dinner_room
    <set >
      <if test="roomName != null" >
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        DEPTID = #{deptid,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.infotechdept.hr.task.model.AdcDinnerRoom" >
    update adc_dinner_room
    set ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      DEPTID = #{deptid,jdbcType=BIGINT},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </update>
</mapper>