<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.infotechdept.hr.task.dao.AdcShiftStafferMapper" >
  <resultMap id="BaseResultMap" type="org.infotechdept.hr.task.model.AdcShiftStaffer" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="RECORD_TYPE" property="recordType" jdbcType="VARCHAR" />
    <result column="RECORD_NAME" property="recordName" jdbcType="VARCHAR" />
    <result column="PROC_CLASS" property="procClass" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RECORD_TYPE, RECORD_NAME, PROC_CLASS, ENABLED, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.infotechdept.hr.task.model.AdcShiftStafferExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adc_shift_staffer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from adc_shift_staffer
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from adc_shift_staffer
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.infotechdept.hr.task.model.AdcShiftStafferExample" >
    delete from adc_shift_staffer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.infotechdept.hr.task.model.AdcShiftStaffer" >
    insert into adc_shift_staffer (ID, RECORD_TYPE, RECORD_NAME, 
      PROC_CLASS, ENABLED, REMARK
      )
    values (#{id,jdbcType=BIGINT}, #{recordType,jdbcType=VARCHAR}, #{recordName,jdbcType=VARCHAR}, 
      #{procClass,jdbcType=VARCHAR}, #{enabled,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.infotechdept.hr.task.model.AdcShiftStaffer" >
    insert into adc_shift_staffer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="recordType != null" >
        RECORD_TYPE,
      </if>
      <if test="recordName != null" >
        RECORD_NAME,
      </if>
      <if test="procClass != null" >
        PROC_CLASS,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordType != null" >
        #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null" >
        #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="procClass != null" >
        #{procClass,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.infotechdept.hr.task.model.AdcShiftStafferExample" resultType="java.lang.Integer" >
    select count(*) from adc_shift_staffer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update adc_shift_staffer
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordType != null" >
        RECORD_TYPE = #{record.recordType,jdbcType=VARCHAR},
      </if>
      <if test="record.recordName != null" >
        RECORD_NAME = #{record.recordName,jdbcType=VARCHAR},
      </if>
      <if test="record.procClass != null" >
        PROC_CLASS = #{record.procClass,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null" >
        ENABLED = #{record.enabled,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update adc_shift_staffer
    set ID = #{record.id,jdbcType=BIGINT},
      RECORD_TYPE = #{record.recordType,jdbcType=VARCHAR},
      RECORD_NAME = #{record.recordName,jdbcType=VARCHAR},
      PROC_CLASS = #{record.procClass,jdbcType=VARCHAR},
      ENABLED = #{record.enabled,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.infotechdept.hr.task.model.AdcShiftStaffer" >
    update adc_shift_staffer
    <set >
      <if test="recordType != null" >
        RECORD_TYPE = #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null" >
        RECORD_NAME = #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="procClass != null" >
        PROC_CLASS = #{procClass,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.infotechdept.hr.task.model.AdcShiftStaffer" >
    update adc_shift_staffer
    set RECORD_TYPE = #{recordType,jdbcType=VARCHAR},
      RECORD_NAME = #{recordName,jdbcType=VARCHAR},
      PROC_CLASS = #{procClass,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>