<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.infotechdept.hr.task.dao.OaIntfMapper" >
  <resultMap id="BaseResultMap" type="org.infotechdept.hr.task.model.OaIntf" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="KSRQ" property="ksrq" jdbcType="VARCHAR" />
    <result column="KSSJ" property="kssj" jdbcType="VARCHAR" />
    <result column="JSRQ" property="jsrq" jdbcType="VARCHAR" />
    <result column="JSSJ" property="jssj" jdbcType="VARCHAR" />
    <result column="WORKCODE" property="workcode" jdbcType="VARCHAR" />
    <result column="CLLX" property="cllx" jdbcType="VARCHAR" />
    <result column="CLBZ" property="clbz" jdbcType="VARCHAR" />
    <result column="requestid" property="requestid" jdbcType="BIGINT" />
    <result column="write_date" property="writeDate" jdbcType="VARCHAR" />
    <result column="write_time" property="writeTime" jdbcType="VARCHAR" />
    <result column="txrcode" property="txrcode" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="REAL" />
    <result column="hours" property="hours" jdbcType="REAL" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, KSRQ, KSSJ, JSRQ, JSSJ, WORKCODE, CLLX, CLBZ, requestid, write_date, write_time, 
    txrcode, days, hours, STATE, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.infotechdept.hr.task.model.OaIntfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_intf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from oa_intf
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from oa_intf
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.infotechdept.hr.task.model.OaIntfExample" >
    delete from oa_intf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.infotechdept.hr.task.model.OaIntf" >
    insert into oa_intf (ID, KSRQ, KSSJ, 
      JSRQ, JSSJ, WORKCODE, 
      CLLX, CLBZ, requestid, 
      write_date, write_time, txrcode, 
      days, hours, STATE, REMARK
      )
    values (#{id,jdbcType=BIGINT}, #{ksrq,jdbcType=VARCHAR}, #{kssj,jdbcType=VARCHAR}, 
      #{jsrq,jdbcType=VARCHAR}, #{jssj,jdbcType=VARCHAR}, #{workcode,jdbcType=VARCHAR}, 
      #{cllx,jdbcType=VARCHAR}, #{clbz,jdbcType=VARCHAR}, #{requestid,jdbcType=BIGINT}, 
      #{writeDate,jdbcType=VARCHAR}, #{writeTime,jdbcType=VARCHAR}, #{txrcode,jdbcType=VARCHAR}, 
      #{days,jdbcType=REAL}, #{hours,jdbcType=REAL}, #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.infotechdept.hr.task.model.OaIntf" >
    insert into oa_intf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="ksrq != null" >
        KSRQ,
      </if>
      <if test="kssj != null" >
        KSSJ,
      </if>
      <if test="jsrq != null" >
        JSRQ,
      </if>
      <if test="jssj != null" >
        JSSJ,
      </if>
      <if test="workcode != null" >
        WORKCODE,
      </if>
      <if test="cllx != null" >
        CLLX,
      </if>
      <if test="clbz != null" >
        CLBZ,
      </if>
      <if test="requestid != null" >
        requestid,
      </if>
      <if test="writeDate != null" >
        write_date,
      </if>
      <if test="writeTime != null" >
        write_time,
      </if>
      <if test="txrcode != null" >
        txrcode,
      </if>
      <if test="days != null" >
        days,
      </if>
      <if test="hours != null" >
        hours,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ksrq != null" >
        #{ksrq,jdbcType=VARCHAR},
      </if>
      <if test="kssj != null" >
        #{kssj,jdbcType=VARCHAR},
      </if>
      <if test="jsrq != null" >
        #{jsrq,jdbcType=VARCHAR},
      </if>
      <if test="jssj != null" >
        #{jssj,jdbcType=VARCHAR},
      </if>
      <if test="workcode != null" >
        #{workcode,jdbcType=VARCHAR},
      </if>
      <if test="cllx != null" >
        #{cllx,jdbcType=VARCHAR},
      </if>
      <if test="clbz != null" >
        #{clbz,jdbcType=VARCHAR},
      </if>
      <if test="requestid != null" >
        #{requestid,jdbcType=BIGINT},
      </if>
      <if test="writeDate != null" >
        #{writeDate,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null" >
        #{writeTime,jdbcType=VARCHAR},
      </if>
      <if test="txrcode != null" >
        #{txrcode,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        #{days,jdbcType=REAL},
      </if>
      <if test="hours != null" >
        #{hours,jdbcType=REAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.infotechdept.hr.task.model.OaIntfExample" resultType="java.lang.Integer" >
    select count(*) from oa_intf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update oa_intf
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ksrq != null" >
        KSRQ = #{record.ksrq,jdbcType=VARCHAR},
      </if>
      <if test="record.kssj != null" >
        KSSJ = #{record.kssj,jdbcType=VARCHAR},
      </if>
      <if test="record.jsrq != null" >
        JSRQ = #{record.jsrq,jdbcType=VARCHAR},
      </if>
      <if test="record.jssj != null" >
        JSSJ = #{record.jssj,jdbcType=VARCHAR},
      </if>
      <if test="record.workcode != null" >
        WORKCODE = #{record.workcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cllx != null" >
        CLLX = #{record.cllx,jdbcType=VARCHAR},
      </if>
      <if test="record.clbz != null" >
        CLBZ = #{record.clbz,jdbcType=VARCHAR},
      </if>
      <if test="record.requestid != null" >
        requestid = #{record.requestid,jdbcType=BIGINT},
      </if>
      <if test="record.writeDate != null" >
        write_date = #{record.writeDate,jdbcType=VARCHAR},
      </if>
      <if test="record.writeTime != null" >
        write_time = #{record.writeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.txrcode != null" >
        txrcode = #{record.txrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.days != null" >
        days = #{record.days,jdbcType=REAL},
      </if>
      <if test="record.hours != null" >
        hours = #{record.hours,jdbcType=REAL},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update oa_intf
    set ID = #{record.id,jdbcType=BIGINT},
      KSRQ = #{record.ksrq,jdbcType=VARCHAR},
      KSSJ = #{record.kssj,jdbcType=VARCHAR},
      JSRQ = #{record.jsrq,jdbcType=VARCHAR},
      JSSJ = #{record.jssj,jdbcType=VARCHAR},
      WORKCODE = #{record.workcode,jdbcType=VARCHAR},
      CLLX = #{record.cllx,jdbcType=VARCHAR},
      CLBZ = #{record.clbz,jdbcType=VARCHAR},
      requestid = #{record.requestid,jdbcType=BIGINT},
      write_date = #{record.writeDate,jdbcType=VARCHAR},
      write_time = #{record.writeTime,jdbcType=VARCHAR},
      txrcode = #{record.txrcode,jdbcType=VARCHAR},
      days = #{record.days,jdbcType=REAL},
      hours = #{record.hours,jdbcType=REAL},
      STATE = #{record.state,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.infotechdept.hr.task.model.OaIntf" >
    update oa_intf
    <set >
      <if test="ksrq != null" >
        KSRQ = #{ksrq,jdbcType=VARCHAR},
      </if>
      <if test="kssj != null" >
        KSSJ = #{kssj,jdbcType=VARCHAR},
      </if>
      <if test="jsrq != null" >
        JSRQ = #{jsrq,jdbcType=VARCHAR},
      </if>
      <if test="jssj != null" >
        JSSJ = #{jssj,jdbcType=VARCHAR},
      </if>
      <if test="workcode != null" >
        WORKCODE = #{workcode,jdbcType=VARCHAR},
      </if>
      <if test="cllx != null" >
        CLLX = #{cllx,jdbcType=VARCHAR},
      </if>
      <if test="clbz != null" >
        CLBZ = #{clbz,jdbcType=VARCHAR},
      </if>
      <if test="requestid != null" >
        requestid = #{requestid,jdbcType=BIGINT},
      </if>
      <if test="writeDate != null" >
        write_date = #{writeDate,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null" >
        write_time = #{writeTime,jdbcType=VARCHAR},
      </if>
      <if test="txrcode != null" >
        txrcode = #{txrcode,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=REAL},
      </if>
      <if test="hours != null" >
        hours = #{hours,jdbcType=REAL},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.infotechdept.hr.task.model.OaIntf" >
    update oa_intf
    set KSRQ = #{ksrq,jdbcType=VARCHAR},
      KSSJ = #{kssj,jdbcType=VARCHAR},
      JSRQ = #{jsrq,jdbcType=VARCHAR},
      JSSJ = #{jssj,jdbcType=VARCHAR},
      WORKCODE = #{workcode,jdbcType=VARCHAR},
      CLLX = #{cllx,jdbcType=VARCHAR},
      CLBZ = #{clbz,jdbcType=VARCHAR},
      requestid = #{requestid,jdbcType=BIGINT},
      write_date = #{writeDate,jdbcType=VARCHAR},
      write_time = #{writeTime,jdbcType=VARCHAR},
      txrcode = #{txrcode,jdbcType=VARCHAR},
      days = #{days,jdbcType=REAL},
      hours = #{hours,jdbcType=REAL},
      STATE = #{state,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>